/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Russo One', sans-serif;
    color: white;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.container {
    width: 100%;
    margin: auto;
}


/* Header Styles */

header {
    width: 100%;
    height: 0px;
    display: flex;
    background: #b0b0b0;
}

header nav {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-content: center;
    display: flex;
    background: #b0b0b0;
}

.a-tags {
    text-decoration: none;
    color: black;
    margin: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

.title-logo {
    display: flex;
    margin: 10px;
    justify-items: space-between;
}

.logo-img {
    width: 5%;
    height: 50px;
    left: 0px;
    right: 0px;
}


/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
    background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
}

.cta .cta-text {
    font-size: 72px;
    text-align: flex-start;
    letter-spacing: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-right: 82px;
    margin-bottom: 20px;
}

.cta .cta-text button {
    background: #00897B;
    font-family: 'Roboto';
    left: 8.27%;
    right: 8.27%;
    background: #00897B;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.cta .cta-text button:hover {
    background: white;
    color: #00897B;
}


/* Main Content Styles */

.main-content {
    margin: 75px 0 35px 0;
    padding: 35px 0;
    font-size: 16px;
    line-height: 18px;
    background: linear-gradient(170deg, #B8DEDA 13.24%, rgba(184, 222, 218, 0) 67.59%);
}


}
.main-content .top-content {
    display: flex;
}
.main-content .middle-img {
    display: block;
    margin: 30px auto;
}
.main-content .bottom-content {
    display: flex;
}
.main-content .bottom-content p {
    padding-right: 20px;
}

/* Tabs */
.tabs {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tabs .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.tabs .tabs-item {
    display: none;
    width: 75%;
}
.tabs .tabs-item .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.tabs .tabs-item-selected {
    display: block;
}
.tabs .tabs-links {
    display: flex;
    background-color: white;
}
.tabs .tabs-link {
    padding: 20px 25px;
    font-size: 24px;
    background-color: white;
    border-right: 1px solid white;
    color: black;
    cursor: pointer;
}
.tabs .tabs-link:hover {
    background-color: #00897B;
}
.tabs .tabs-link-selected {
    z-index: 2;
    border-right: 1px solid #00897B;
    background-color: #ffffff;
    color: black;
}
.tabs .tabs-link-selected:hover {
    background-color: #ffffff;
}
.tabs .tabs-item-description {
    display: flex;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 48px;
    justify-content: space-between;
}
.tabs .tabs-item-image {
    padding-right: 80px;
    padding-top: 10px;
}
.prof-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
}

/* Contact Styles */
.contact p {
    margin: 15px 0;
}

/* Footer Styles */
footer {
    text-align: center;
    margin: 40px 0 20px;
}

/* Tablet */
@media (max-width: 800px) {
    .container {
        width: 100%;
        background: radial-gradient(698.36px at 50% 50%, #6D6D6D 0%, #363636 59.63%, #282828 100%);
    }
    
    header {
        flex-wrap: wrap;
        background: #E5E5E5;
    }
    
    header nav {
        width: 768px;
        padding: 0 30px;
    }
    
    header .logo {
        order: -1;
        display: block;
        margin: 30px auto 0;
    }
    
    .cta {
        justify-content: center;
    }
    
    .cta .cta-text {
        margin: 0;
    }
    
    .cta img {
        display: none;
    }
    
    .main-content .middle-img {
        width: 100%;
    }
    
    .main-content {
        margin: 75px 20px 35px;
    }
    
    .prof-content {
        margin: 0 10px;
    }
    
    .contact {
        margin: 0 30px;
    }
}

/* Phone */
@media (max-width: 500px) {
    header {
        justify-content: center;
        background: #E5E5E5;
    }
    
    header nav {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    header nav a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
        border-bottom: 1px solid gray;
    }
    
    header nav a:first-child {
        border-top: 1px solid gray;
    }
    
    header nav a:hover {
        background: gray;
    }
    
    header .logo {
        margin: 20px 0;
    }
    
    .cta {
        margin-top: 50px;
        flex-flow: column;
        align-items: center;
    }
    
    .cta img {
        max-width: 80%;
    }
    
    .main-content .top-content {
        justify-content: space-around;
        flex-direction: column;
        height: 300px;
    }
    
    .main-content .bottom-content {
        flex-wrap: wrap;
        align-content: space-between;
        height: 440px;
    }
    
    .prof-content {
        margin: 0;
    }
    
    .contact {
        margin: 20px;
    }
}